extends layout

block content
  // Set Column Width For Page
  .col-lg-5
    // CSS to Improve Look And Feel
    div.container-fluid(style='text-align: center')
      .alert.alert-warning
        h1 - The One n Only Task Tracker -
        .alert.alert-info
          // Display Title Set In The Route
          h1= title
          // Welcome Message that Also Displays Title That Was Set
          p Welcome to #{title}
        

          // Add Button To Navigate To The List Of Tasks
          form(method="get", action="/tasks")
              button.btn.btn-warning(type="submit") COMPLETE LIST OF TASKS
