extends layout

block content
  .container-fluid.col-md-6
    .alert-success
      div.alert(style="text-align: center")
        h1= message
        p GO BACK TO #{title}
        
        form(method="get", action="/tasks")
          button.btn.btn-warning(type="submit") BACK TO THE USER LIST