extends layout

block content
  .container-fluid
    .alert-success
      h1= message
      p Go Back to #{title}
      
      form(method="get", action="/tasks")
        button.btn.btn-primary(type="submit") BACK TO THE TASK LIST