extends layout

block content
  .container-fluid
    .alert-success
      h1= message
      p Go Back to #{title}
      
      button.btn.btn-primary() 
          a(style="color: #ffffff" href="/tasks") TASK LIST