extends layout

block content
    h1.
        Task List
    br
    button.btn.btn-primary() 
        a(style="color: #ffffff" href="/addtasks") ADD NEW TASK
    br
    br
    table.table.table-bordered.table-light
        thead.thead-dark
            tr
                th(scope='col') Task
                th(scope='col') Description
                th(scope='col') Completed
                th(scope='col') Assigned
                th(scope='col') Delete ?
        tbody
            for task, i in tasks
                tr
                    td
                        a(id="taskID" value="task._id" href="/update")= task.task 
                    td= task.desc
                    td= task._id
                    td= task.ass
                    td
                        button.btn.btn-primary() 
                            a(style="color: #ffffff" href="/addtasks") Delete TASK
            else
                tr 
                    td sorry no tasks



    button.btn.btn-primary() 
        a(style="color: #ffffff" href="/") HOME

