<!DOCTYPE html>
<head>
  <script type="text/javascript">
    function myFunc(id)
    {
    alert(id);
    }
  </script>
</head>
<button id="button1" onclick="myFunc(this.id);" class="MetroBtn">Btn1</button>
<button id="button2" onclick="myFunc(this.id);" class="MetroBtn">Btn2</button>
<button id="button3" onclick="myFunc(this.id);" class="MetroBtn">Btn3</button>
<button id="button4" onclick="myFunc(this.id);" class="MetroBtn">Btn4
  <h1 style="text-align: center"></h1>
  <div class="container">
    <div class="col-md">
      <div class="form-area">
        <form id="formAddTasks" name="addtask" method="update" action="/updateTask"><br style="clear:both">
          <h3 style="margin-bottom: 25px; text-align: center;">Task Form</h3>
          <div class="form-group">
            <input id="inputTaskName" type="text" name="taskname" placeholder="Task Name" required="" class="form-control">
          </div>
          <div class="form-group">
            <input id="inputTaskDesc" type="text" name="taskdesc" placeholder="Task Desc" required="" class="form-control">
          </div>
          <div class="form-group">
            <input id="inputTaskCom" type="text" name="taskcomp" placeholder="Completed ?" required="" class="form-control">
          </div>
          <div class="form-group">
            <input id="subject" type="text" name="taskass" placeholder="Assigned ?" required="" class="form-control">
          </div>
          <button id="submit" type="submit" name="update" class="btn btn-primary pull-right">UPDATE TASK</button>
          <button class="btn btn-primary pull-left"> <a style="color: #ffffff" href="/tasks">CANCEL</a></button>
        </form>
      </div>
    </div>
  </div>
</button>