<!DOCTYPE html>

<a *ngfor="let product of products" [routerlink]="['/product-details', product.id]"></a>


form(action='”http://www.example.org/users/123”', method='”delete”', if-match='”q1w2e3r4t5”')
  input(type='”submit”')

button.btn.btn-primary(type="submit" method="delete")
                            a(style="color: #ffffff" href="/deletetask/#{task._id}") Delete TASK
