extends layout
my_var = task
block content
    h1(style='text-align: center')= title
    
    .container
      .col-md
        .form-area
          form#formUPDATETasks(name="update",method="put",action="/updateTask")
            br(style='clear:both')
            h3(style='margin-bottom: 25px; text-align: center;') Task Form
            select(name="_id")
                each task, i in tasks
                    option(value=i._id) #{task.task}
            .form-group
              input#inputTaskName.form-control(type='text', name='taskname', placeholder='#{my_var}', required='')
            .form-group
              input#inputTaskDesc.form-control(type='text', name='taskdesc', placeholder='Task Desc', required='')
            .form-group
              input#inputTaskCom.form-control(type='text', name='taskcomp', placeholder='Completed ?', required='')
            .form-group
              input#subject.form-control(type='text', name='taskass', placeholder='Assigned ?', required='')
            button#submit.btn.btn-primary.pull-right(type='submit', name='update') UPDATE TASK
            button.btn.btn-primary.pull-left() 
                a(style="color: #ffffff" href="/tasks") CANCEL